*{
	margin:0;
	padding:0;
}
.main{
	height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.continue{
	border-radius:7px;
	background:#808dfb;
	height:70px;
	width:200px;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:40px 0 20px;
}
h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:50px;
}
.continue a{
	color:white;
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	font-weight:bold;
	text-decoration:none;
}
.continue a:hover{
	text-decoration:underline;
}
.spodi{
	height:70px;
	width:250px;
	text-align:center;
}
.spodi a{
	font-family:Arial, Helvetica, sans-serif;
	
}